{% assign max_blocks = 2 %} 
<div class="text-section cms-section grid-{{ max_blocks }} {{ block.settings.custom_class }} {{ block.settings.add_padding_top }} {{ block.settings.add_padding_bottom }} {{ block.settings.add_margin_top }} {{ block.settings.add_margin_bottom }} {{ block.settings.add_border_top }} {{ block.settings.add_border_bottom }} {{ block.settings.border_width }}" {% if block.settings.background_color != '' or block.settings.background_image %}style="{% if block.settings.background_color != '' %}background-color: {{ block.settings.background_color }};{% endif %}{% if block.settings.background_image %}background-image: url({{ block.settings.background_image }});{% endif %}"{% endif %}>
    <div class="wrapper {{ block.settings.max_width }}">
        <div class="row">
            {% if block.settings.heading_title != blank or block.settings.heading_subtitle != blank %}
                <div class="section-header {{ block.settings.heading_align }} {{ block.settings.heading_text_color }}">
                    {% if block.settings.heading_title != blank %}
                        <h2 class="title {{ block.settings.heading_title_tag }}">{{ block.settings.heading_title }}</h2>
                    {% endif %}
                    {% if block.settings.heading_subtitle != blank %}
                    <div class="sub-title">
                        {{ block.settings.heading_subtitle }}
                    </div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="row-flex {{ block.settings.content_width }}">
                {% for i in (1..max_blocks) %}
                    {% assign b_text_color = 'text_color_' | append: forloop.index %}
                    {% assign b_content_position = 'content_position_' | append: forloop.index %}
                    {% assign b_content_align = 'content_align_' | append: forloop.index %}
                    {% assign b_vertical_align = 'vertical_align_' | append: forloop.index %}
                    {% assign b_title = 'title_' | append: forloop.index %}
                    {% assign b_title_tag = 'title_tag_' | append: forloop.index %}
                    {% assign b_content = 'content_' | append: forloop.index %}
                    {% assign b_link_1 = 'link_' | append: forloop.index | append: '_a' %}
                    {% assign b_link_2 = 'link_' | append: forloop.index | append: '_b' %}
                    {% assign b_button_text_1 = 'button_text_' | append: forloop.index | append: '_a' %}
                    {% assign b_button_text_2 = 'button_text_' | append: forloop.index | append: '_b' %}
                    {% assign b_button_style_1 = 'button_style_' | append: forloop.index | append: '_a' %}
                    {% assign b_button_style_2 = 'button_style_' | append: forloop.index | append: '_b' %}
                    {% assign b_button_position = 'button_position_' | append: forloop.index %}
                    <div class="col-text {{ block.settings[b_text_color] }} {{ block.settings[b_content_align] }} {{ block.settings[b_vertical_align] }}">
                        <div class="text-content">
                            {% if block.settings[b_title] != blank %}
                                <h3 class="title {{ block.settings[b_title_tag] }}">{{ block.settings[b_title] }}</h3>
                            {% endif %}
                            {% if block.settings[b_content] != blank or block.settings[b_link_1] != blank or block.settings[b_link_2] != blank %}
                            <div class="content">
                                {% if block.settings[b_content] != blank %}
                                    <div class="text">{{ block.settings[b_content] }}</div>
                                {% endif %}
                                {% if block.settings[b_link_1] != blank or block.settings[b_link_2] != blank %}
                                <div class="buttons {{ block.settings[b_button_position] }}">
                                    {% if block.settings[b_link_1] != blank %}
                                        <a class="{{ block.settings[b_button_style_1] }}" href="{{ block.settings[b_link_1] }}">{{ block.settings[b_button_text_1] }}</a>
                                    {% endif %}	
                                    {% if block.settings[b_link_2] != blank %}
                                        <a class="{{ block.settings[b_button_style_2] }}" href="{{ block.settings[b_link_2] }}">{{ block.settings[b_button_text_2] }}</a>
                                    {% endif %}	
                                </div>
                                {% endif %}	
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}	
            </div>
        </div>
    </div>
</div>