<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"baselondon.myshopify.com",ver:"1.9"},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","application/json")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e]),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("https://conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,url:window.location.href,ref:document.referrer,ver:window.TriplePixelData.ver},O("https://api.config-security.com/",5,p),O("https://triplewhale-pixel.web.app/dot1.9.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<link rel="canonical" href="{{ canonical_url }}">
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>
    {{ shop.name }} &ndash; this store is coming soon
  </title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}

  {% if page_description %}
    {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta name="description" content="{{ page_description | escape }}">
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
  {% endif %}

  {% comment %} {% include 'social-meta-tags' %} {% endcomment %}

{%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,700" rel="stylesheet"> 
<style>



html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{scroll-behavior:smooth} a,button,input,label,select,summary,textarea{touch-action:manipulation}@-ms-viewport{width:device-width}@-o-viewport{width:device-width}@viewport{width:device-width}a:active,a:hover{outline:0}ol,ul{margin:1em 0;padding:0 0 0 40px}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;width:100%;height:auto}picture{display:block}iframe{border:none}.ir,fieldset,legend{border:0}svg:not(:root){overflow:hidden}form{margin:0}label{cursor:pointer}legend{padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}button[disabled],input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{vertical-align:top;resize:none;overflow:auto}input:invalid,textarea:invalid{background-color:#f0dddd}[placeholder]:focus::-webkit-input-placeholder{color:transparent}::-webkit-input-placeholder{color:#666}:-moz-placeholder{color:#666}::-moz-placeholder{color:#666}:-ms-input-placeholder{color:#666}::-ms-input-placeholder{color:#666}:placeholder-shown{color:#666}.ir{clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}

html, body {
  padding:0;
  margin: 0;
  height: 100%;
}

body, input, button {
font-family: 'Nunito Sans', helvetica, arial, sans-serif;
font-weight: 300;
color: #666;

}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  color: #111;
  text-align: center;
  line-height: 1;
}

h1 {
  font-size: 30px;
  margin: 0;
  padding: 0 0 16px 0;
}

h2 {
    font-size: 19px;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
a.btn {
color: #111;
font-weight: 700;
font-size: 14px;
display: inline-block;
border: 1px solid #e5e5e5;
padding: 22px 34px;
text-decoration: none;
max-width: 230px;
margin: 32px auto;
background: #fff;
background: rgba(229,229,229,0);
-webkit-transition: background 0.4s ease;
transition: background 0.4s ease;
outline:none;
}

a.btn:hover,a.btn:active,a.btn:focus {
background: rgba(229,229,229,1);

}

.imageContent {
  width: 50%;
  float: left;
  height: 100%;
  height: 100vh;
  background: url({{ 'password-bg.jpg' | asset_url}}) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.textContent {
  width: 50%;
  float: right;
  height: 100%;
  height: 100vh;
  position: relative;
}

.password-page, .modal__inner {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#LoginModal {
  display: none;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: none;
}

#LoginModal.modal--is-active {
  display: block;
}

@media (max-width: 500px) {
  .textContent {
  width: 100%;
  float: none;
}
.imageContent {
display: none;
  }
}

.juno {
  position: absolute;
  left: 7%;
  top: 7%;
  width: 79px;
}

.label--hidden, .icon__fallback-text {

    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#adminLogin {
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom: 7%;
  width: 100%;
  color: #666;
  text-align: center;
}

#adminLogin a {
 color: #666;
 text-decoration: underline;
}

.modal__close {
  
  position:absolute;
  background: none;
  border: 0;
  top:7%;
  right: 7%;
  outline: none;
  text-decoration: none;
}
.modal__close svg {
  width: 19px;
}

.password__input-group {
padding: 30px 0 0 0;
}
#Password {
   height: 60px;
  line-height: 60px;
  border: 0;
  margin: 0;
  padding: 0 20px;
  outline: none;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.input-group__btn button {
  font-size: 15px;
  color: #fff;
  background: #111;
  font-weight: 700;
  border: 0;
  height: 60px;
  line-height: 60px;
  padding: 0 35px;
    margin: 0;
    -webkit-transition: background 0.4s ease;
    transition: background 0.4s ease;
      -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
.input-group__btn button:active,.input-group__btn button:focus,.input-group__btn button:hover {
background: #666;
}



.errors ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.errors li {
padding: 18px 0 0 0;
}

</style>



  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'password.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'password.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}

  {% include "globale-js.liquid" %}
</head>

<body class="template-password">
  <div class="imageContent">

  </div>
  <div class="textContent">
  <div class="password-page text-center">
    <header class="password-header" role="banner">
         {{ content_for_layout }}
    </header>



 <div class="password-header__inner">
        <div class="password-login">
         <a href="#LoginModal" class="js-modal-open-login-modal link--action btn btn--secondary">
            {{ 'general.password_page.password_link' | t }}
          </a>
        </div>
      </div>

   
  </div>

  <div id="LoginModal" class="modal">
    <div class="modal__inner">
       <h1 class="site-header__logo-link" href="/" {% if disabled_by_yoast_seo %}itemprop="url"{% endif %}>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
    <span class="logo">{{ shop.name }}</span>
  </h1>
  <h2>{{ 'general.password_page.login_form_heading' | t }}</h2>
      <div class="modal__centered password-modal__content page-width text-center">
        
          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <label for="password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
            <div class="input-group password__input-group"><input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"><span class="input-group__btn"><button type="submit" name="commit" class="btn btn--narrow">{{ 'general.password_page.login_form_submit' | t }}</button></span>
            </div>
          {% endform %}
       
      </div>
    

   

    </div>  
     <button type="button" class="modal__close js-modal-close text-link">
     <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 37 40"><path d="M21.3 23l11-11c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-11 11-11-11c-.8-.8-2-.8-2.8 0-.8.8-.8 2 0 2.8l11 11-11 11c-.8.8-.8 2 0 2.8.4.4.9.6 1.4.6s1-.2 1.4-.6l11-11 11 11c.4.4.9.6 1.4.6s1-.2 1.4-.6c.8-.8.8-2 0-2.8l-11-11z"/></svg>
      <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
    </button>


    <p id="adminLogin">{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>






<div class="juno">
</div></div>
</body>
</html>
