{% assign blocks_size = section.blocks.size %}
{% if section.settings.add_carousel != '' %}
    {% assign blocks_size = 1 %}
{% endif %}
<div class="banner-section cms-section grid-{{ blocks_size }} {{ section.settings.custom_class }} {{ section.settings.add_padding_top }} {{ section.settings.add_padding_bottom }} {{ section.settings.add_margin_top }} {{ section.settings.add_margin_bottom }} {{ section.settings.add_border_top }} {{ section.settings.add_border_bottom }} {{ section.settings.border_width }}"{% if section.settings.background_color != '' or section.settings.background_image %} style="{% if section.settings.background_color != '' %}background-color: {{ section.settings.background_color }};{% endif %}{% if section.settings.background_image %}background-image: url({{ section.settings.background_image | img_url: 'master' }});{% endif %}"{% endif %}>
    <div class="wrapper {{ section.settings.section_width }}">
        <div class="row">
            {% if section.settings.heading_show == true %}
                {% if section.settings.title != blank or section.settings.heading_subtitle != blank %}
                <div class="section-header {{ section.settings.heading_align }} {{ section.settings.heading_text_color }}">
                    {% if section.settings.title != blank %}
                        <h2 class="title {{ section.settings.heading_title_tag }}">{{ section.settings.title }}</h2>
                    {% endif %}
                    {% if section.settings.heading_subtitle != blank %}
                        <div class="sub-title">
                            {{ section.settings.heading_subtitle }}
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            {% endif %}
            {% if section.blocks.size > 0 %}
            <div class="row-flex {% if section.settings.add_carousel != '' %}owl-carousel{% endif %}">
                {% for block in section.blocks %}
                    <div class="{% if block.settings.image != blank %}col-img{% else %}col-text{% endif %} {% if block.settings.video_link != blank %}video{% endif %} {{ block.settings.column_vertical_align }} {{ block.settings.column_order }} {{ block.settings.text_color }}">
                        <div class="inner">
                            <div class="image">
                                {% if block.settings.link != blank %}<a class="link" href="{{ block.settings.link }}">{% endif %}	
                                    {% if block.settings.image %}
                                        {% assign image = block.settings.image | img_url: 'master' %}
                              			{% assign image_2x = block.settings.image | img_url: 'master', scale: 2 %}
                              			{% assign mobile_image = block.settings.image | img_url: 'x680' %}
                                        {% assign mobile_image_2x = block.settings.image | img_url: 'x680', scale: 2 %}
                              			{% if block.settings.mobile_image != blank %}
                                            {% assign mobile_image = block.settings.mobile_image | img_url: 'x680' %}
                                            {% assign mobile_image_2x = block.settings.mobile_image | img_url: 'x680', scale: 2 %}
                              			{% endif %}
                                        {% if block.settings.image_size != '' %}
                                            {% assign image = block.settings.image | img_url: block.settings.image_size, crop: 'center' %}
                              				{% assign image_2x = block.settings.image | img_url: block.settings.image_size, crop: 'center', scale: 2 %}
                                        {% endif %}
                                        {% if block.settings.mobile_image_size != '' %}
                              				{% assign mobile_image = block.settings.image | img_url: block.settings.mobile_image_size, crop: 'center' %}
                              				{% assign mobile_image_2x = block.settings.image | img_url: block.settings.mobile_image_size, crop: 'center', scale: 2 %}
                              				{% if block.settings.mobile_image != blank %}
                              					{% assign mobile_image = block.settings.mobile_image | img_url: block.settings.mobile_image_size, crop: 'center' %}
                              					{% assign mobile_image_2x = block.settings.mobile_image | img_url: block.settings.mobile_image_size, crop: 'center', scale: 2 %}
                              				{% endif %}
                                        {% endif %}
                                        <picture>
                                            <source media="(min-width: 992px)" srcset="{{ image }}">
                                            <source srcset="{{ mobile_image }}">
                                            <img {% if block.settings.image_lazy_load == true %}loading="lazy" importance="low"{% endif %} src="{{ image }}" alt="{% if block.settings.image_alt != blank %}{{ block.settings.image_alt }}{% else %}{% if block.settings.title != blank %}{{ block.settings.title }}{% endif %}{% endif %}" />
                                        </picture>
                                    {% endif %}
                                {% if block.settings.link != blank %}</a>{% endif %}
                                {% if block.settings.video_src == blank %}
                                    {% if block.settings.video_link != blank %}
                                        <span class="button-play"><span>Play</span></span>
                                        <div class="video-iframe" data-video-id="{{ block.settings.video_link.id }}"></div>
                                    {% endif %}
                                {% else %}
                                    <video preload="auto" autoplay="autoplay" muted="muted" {% if block.settings.video_controls %}controls="controls"{%endif%} {% if block.settings.video_loop %}loop="loop"{%endif%} {% if block.settings.image %}poster="{{ block.settings.image | img_url: 'master' }}"{% endif %} playsinline>
                                        <source src="{{ block.settings.video_src | append: '.mp4' | file_url  }}" type="video/mp4"></source>
                                    </video>
                                {% endif %}
                            </div>
                            {% if block.settings.quick_view_products != blank %}
                                {% include 'quick-view-products' %}
                            {% endif %}
                            {% if block.settings.title != blank or block.settings.content != blank or block.settings.link_1 != blank or block.settings.link_2 != blank %}
                                <div class="caption {{ block.settings.content_position }} {{ block.settings.vertical_align }} {{ block.settings.horizontal_align }}">
                                    <div class="wrapper">
                                        <div class="content {{ block.settings.reverse_title_content }}">
                                            {% if block.settings.title != blank %}
                                                <h3 class="title {{ block.settings.title_tag }}">{{ block.settings.title }}</h3>
                                            {% endif %}
                                            {% if block.settings.content != blank %}
                                                <div class="text">{{ block.settings.content }}</div>
                                            {% endif %}
                                            {% if block.settings.link_1 != blank or block.settings.link_2 != blank %}
                                            <div class="buttons {{ block.settings.button_position }}">
                                                {% if block.settings.link_1 != blank %}
                                                    <a class="{{ block.settings.button_style_1 }}" href="{{ block.settings.link_1 }}">{{ block.settings.button_text_1 }}</a>
                                                {% endif %}
                                                {% if block.settings.link_2 != blank %}
                                                    <a class="{{ block.settings.button_style_2 }}" href="{{ block.settings.link_2 }}">{{ block.settings.button_text_2 }}</a>
                                                {% endif %}
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Hero Banner",
        "settings": [
            {
                "type": "select",
                "id": "add_padding_bottom",
                "label": "Padding",
                "options": [
                    { "value": "", "label": "No" },
                    { "value": "padding-top", "label": "Top" },
                    { "value": "padding-bottom", "label": "Bottom" },
                    { "value": "padding-top padding-bottom", "label": "Top and Bottom" }
                ],
                "default": ""
            },
            {
                "type": "select",
                "id": "add_margin_bottom",
                "label": "Margin",
                "options": [
                    { "value": "", "label": "No" },
                    { "value": "margin-top", "label": "Top" },
                    { "value": "margin-bottom", "label": "Bottom" },
                    { "value": "margin-top margin-bottom", "label": "Top and Bottom" }
                    
                ],
                "default": ""
            },
            {
                "type": "text",
                "id": "custom_class",
                "label": "Custom CSS Class"
            },
            {
                "type": "color",
                "id": "section_background",
                "label": "Section - Background",
                "default": "#ffffff"
            },
            {
                "type": "select",
                "id": "section_width",
                "label": "Section Width",
                "options": [
                    { "value": "standard", "label": "Standard" },
                    { "value": "full-width", "label": "Full Width" }
                ],
                "default": "full-width"
            },
            {
                "type": "checkbox",
                "id": "heading_show",
                "label": "Show Heading?",
                "default": false
            },
            {
				"type": "select",
				"id": "heading_align",
				"label": "Heading text align",
				"options": [
					{ "value": "text-left", "label": "Left" },
					{ "value": "text-center", "label": "Center" },
					{ "value": "text-right", "label": "Right" }
				],
				"default": "text-center"
			},
			{
				"type": "select",
				"id": "heading_text_color",
				"label": "Heading Text color",
				"options": [
                    { "value": "text-dark", "label": "Dark" },
					{ "value": "text-light", "label": "Light" }
				],
				"default": "text-dark"
			},
			{
				"type": "text",
				"id": "title",
				"label": "Heading Title",
				"default": "Heading Title"
			},
			{
				"type": "select",
				"id": "heading_title_tag",
				"label": "Heading H Tag",
				"options": [
					{ "value": "h1", "label": "H1" },
					{ "value": "h2", "label": "H2" },
					{ "value": "h3", "label": "H3" },
					{ "value": "h4", "label": "H4" },
					{ "value": "h5", "label": "H5" },
                    { "value": "h6", "label": "H6" },
                    { "value": "h7", "label": "H7" },
                    { "value": "h8", "label": "H8" },
                    { "value": "h9", "label": "H9" }
				],
				"default": "h2"
			},
			{
				"type": "richtext",
				"id": "heading_subtitle",
				"label": "Heading Subtitle",
                "default": "<p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus suscipit tortor eget</p>"
			},
            {
                "type": "select",
                "id": "add_carousel",
                "label": "Add carousel?",
                "options": [
                    { "value": "owl-carousel", "label": "Yes" },
                    { "value": "", "label": "No" }
                ],
                "default": ""
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "Image Banner",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image - Primary"
                    },
                    {
                        "type": "image_picker",
                        "id": "mobile_image",
                        "label": "Image - Mobile"
                    },
                    {
                        "type": "textarea",
                        "id": "image_svg",
                        "label": "Image - SVG"
                    },
                    {
                        "type": "checkbox",
                        "id": "image_lazy_load",
                        "label": "Image - Lazyload",
                        "default": true
                    },
                    {
                        "type": "text",
                        "id": "image_alt",
                        "label": "Image - Alt Text"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Image - Link"
                    },
                    {
                        "type": "video_url",
                        "id": "video_link",
                        "label": "Video - Youtube or Vimeo",
                        "accept": ["youtube", "vimeo"]
                    },
                    {
                        "type": "text",
                        "id": "video_file",
                        "label": "Video - File Name",
                        "info": "Upload a .mp4 into the Files folder (Settings > Files) all with this name. So if one of your assets is 'video.mp4', then just enter 'video.mp4' here."
                    },
                    {
                        "type": "select",
                        "id": "video_options",
                        "label": "Video - Options",
                        "info": "Use this option for Video File Name",
                        "options": [
                            { "value": "", "label": "No" },
                            { "value": "loop", "label": "Loop" },
                            { "value": "controls", "label": "Controls" },
                            { "value": "both", "label": "Both" }
                        ],
                        "default": "loop"
                    },
                    {
                        "type": "select",
                        "id": "content_location",
                        "label": "Content - Location",
                        "options": [
                            { "value": "top left", "label": "Top Left" },
                            { "value": "top center", "label": "Top Centre" },
                            { "value": "top right", "label": "Top Right" },
                            { "value": "middle left", "label": "Middle Left" },
                            { "value": "middle center", "label": "Middle Centre" },
                            { "value": "middle right", "label": "Middle Right" },
                            { "value": "bottom left", "label": "Bottom Left" },
                            { "value": "bottom center", "label": "Bottom Centre" },
                            { "value": "bottom right", "label": "Bottom Right" }
                        ],
                        "default": "middle center"
                    },
                    {
                        "type": "select",
                        "id": "content_order",
                        "label": "Content - Order",
                        "options": [
                            { "value": "1", "label": "Flag, Highlight, Title, Sub-Title, Desc, CTA" },
                            { "value": "2", "label": "Flag, Desc, Highlight, Title, Sub-Title, CTA" }
                        ],
                        "default": "1"
                    },
                    {
                        "type": "select",
                        "id": "content_alignment",
                        "label": "Content - Alignment",
                        "options": [
                            { "value": "text-left", "label": "Left" },
                            { "value": "text-center", "label": "Centre" },
                            { "value": "text-right", "label": "Right" }
                        ],
                        "default": "text-center"
                    },
                    {
                        "type": "color",
                        "id": "text_colour",
                        "label": "Content - Colour",
                        "default": "#ffffff"
                    },
                    {
                        "type": "color",
                        "id": "flag_line_colour",
                        "label": "Flag - Line Colour"
                    },
                    {
                        "type": "color",
                        "id": "flag_background_colour",
                        "label": "Flag - Background Colour"
                    },
                    {
                        "type": "color",
                        "id": "flag_text_colour",
                        "label": "Flag - Text Colour"
                    },
                    {
                        "type": "text",
                        "id": "flag_text",
                        "label": "Flag - Text"
                    },
                    {
                        "type": "text",
                        "id": "highlight",
                        "label": "Highlight - Text"
                    },
                    {
                        "type": "select",
                        "id": "title_tag",
                        "label": "Title - H Tag",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" },
                            { "value": "h8", "label": "H8" },
                            { "value": "h9", "label": "H9" }
                        ],
                        "default": "h2"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title - Text",
                        "default": "Hero Banner"
                    },
                    {
                        "type": "select",
                        "id": "sub_title_tag",
                        "label": "Sub - Title H Tag",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" },
                            { "value": "h8", "label": "H8" },
                            { "value": "h9", "label": "H9" }
                        ],
                        "default": "h6"
                    },
                    {
                        "type": "text",
                        "id": "sub_title",
                        "label": "Subtitle - Text"
                    },
                    {
                        "type": "select",
                        "id": "content_tag",
                        "label": "Content H Tag",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" },
                            { "value": "h8", "label": "H8" },
                            { "value": "h9", "label": "H9" }
                        ],
                        "default": "h8"
                    },
                    {
                        "type": "html",
                        "id": "content",
                        "label": "Description",
                        "default": "Lorem ipsum dolor sit amet"
                    },
                    {
                        "type": "url",
                        "id": "button_link",
                        "label": "CTA 1 - Link"
                    },
                    {
                        "type": "text",
                        "id": "button_text",
                        "label": "CTA 1 - Text",
                        "default": "Shop Now"
                    },
                    {
                        "type": "select",
                        "id": "button_style",
                        "label": "CTA 1 - Style",
                        "options": [
                            { "value": "button", "label": "Dark" },
                            { "value": "button button-second", "label": "Dark Solid" },
                            { "value": "button white", "label": "Light" },
                            { "value": "button button-second white", "label": "Light Solid" },
                            { "value": "button-text", "label": "Button Text" }
                        ],
                        "default": "button"
                    },
                    {
                        "type": "url",
                        "id": "shop_the_image_products",
                        "label": "Shop - Products"
                    },
                    {
                        "type": "text",
                        "id": "shop_the_image_button_text",
                        "label": "Shop - Text",
                        "default": "View Products"
                    },
                    {
                        "type": "range",
                        "id": "shop_the_image_number",
                        "label": "Shop - Number",
                        "min": 1,
                        "max": 10,
                        "step": 1,
                        "default": 3
                    },
                    {
                        "type": "select",
                        "id": "shop_the_image_device",
                        "label": "Shop - Device",
                        "options": [
                            { "value": "", "label": "None" },
                            { "value": "desktop", "label": "Desktop" },
                            { "value": "mobile", "label": "Mobile" },
                            { "value": "both", "label": "Both" }
                        ],
                        "default": "desktop"
                    },
                    {
                        "type": "select",
                        "id": "shop_the_image_position",
                        "label": "Shop - Position",
                        "options": [
                            { "value": "bottom-left", "label": "Left" },
                            { "value": "bottom-center", "label": "Centre" },
                            { "value": "bottom-right", "label": "Right" }
                        ],
                        "default": "bottom-left"
                    }
                ]
            }
        ],
        "presets": [{
            "name": "Hero Banner",
            "category": "Banner",
            "blocks": [
                {
                    "type": "image"
                }
            ]
        }]
    }
{% endschema %}
